/* 
    Document   : a25_page_nav
    Created on : Mar 11, 2011, 5:21:18 AM
    Author     : thomas
    Description:
        This contains styles for the CSS classes used by A25_Listing
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

h1 {
	margin: 24px 0px 24px 0px;
	font-size: 22px;
}
.adminlist {
	margin-bottom: 12px;
}

