.pp_title {
    color: white;
    float: left;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 12px;
    margin-top: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    font-weight: bold;
    text-align: left;
    line-height: 16px;
}

.pp_title_sub {
    text-transform: none;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    font-variant: normal;
}
 
#top-top {
display: none;
}